<% provide(:title, "更新") %>
<div class="wrapper">
  <%= render 'layouts/aside' %>
  <%# <div class="wrapper_aside">
  </div> %>
  <div class="wrapper_main form">
    <h1 class="form_h1"><%=link_to "Front  Appへようこそ", edit_user_path %></h1>

    <%= form_with model: @user, local: true do |f|%>
      <%= render 'shared/error_messages', object: f.object%>
    <%= f.label "名前", class: "form-label" %>
    <%= f.text_field :name, class:"form-control" %>

    <%= f.label :email, class: "form-label" %>
    <%= f.email_field :email, class:"form-control" %>

    <%= f.label "パスワード", class: "form-label" %>
    <%= f.password_field :password, class:"form-control" %>

    <%= f.label "パスワード確認", class: "form-label" %>
    <%= f.password_field :password_confirmation, class:"form-control" %>

    <%= f.submit "更新" , class:"form-btn"%>
    <% end %>
  </div>
</div>
