<% provide(:title, 'All users') %>
<div class="wrapper">
  <%= render 'layouts/aside' %>
  <div class="wrapper_main " >
  <div class="wrapper_main_index">
   <%= will_paginate %>
    <ul class="users">
      <%= render @users %>
      <%# <% @users.each do |user| %> 
        <%# <%= render user %> 
      <%# <% end %> 
    </ul>
    <%= will_paginate %>
  </div>
  </div>
</div>