<% provide(:title, "マイページ") %>
<div class="wrapper">
  <%# <%= render 'layouts/aside' %> 
  <div class="show_aside">
    <div class="show_aside_form"><%= render 'follow_form' if logged_in? %></div>
      <h1 class="#"><%= @user.name %>さんの投稿<br>
      <% if @user.microposts.any? %>
        <h3 class="show_aside_title">投稿数 (<%= @user.microposts.count %>)</h3>
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
        <%= will_paginate @microposts %>
      <% end %>
  </div>
  <div class="wrapper_main user_show">
    
      <div class ="user_show_info">
        <%= gravatar_for @user %>
        <%= @user.name %>
      </div>  
    </h1>
    <%= link_to "プロフィールページ更新", edit_user_path, class:"#" %>

    <section class="stats">
        <%= render 'shared/stats' %>
      </section>

    
    <div class="user_show_feed">
      <h3>たくさん投稿しようね</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
</div>