<% provide(:title, " /car")%>
<div class="wrapper">
   <%= render 'layouts/aside'%>
  <div class="wrapper_main home-car">

    <div class ="home-car-big", id="couple_man">
      <div class="modal">
        <div class="close-modal", id="couple_man-modal">
          <i class="fa fa-2x fa-times"></i>
        </div>
        <%= image_tag 'car/drive_date_couple_man.png', alt:"logo", class:"modal-image" %>
      </div>
    </div>

    <div class ="home-car-big", id="lover_woman">
      <div class="modal">
        <div class="close-modal", id="lover_woman-modal">
          <i class="fa fa-2x fa-times"></i>
        </div>
        <%= image_tag 'car/car_lover_woman.png', alt:"logo", class:"modal-image" %>
      </div>
    </div>

    <div class ="home-car-big", id="shoubousya_front">
      <div class="modal">
        <div class="close-modal", id="shoubousya_front-modal">
          <i class="fa fa-2x fa-times"></i>
        </div>
        <%= image_tag 'car/car_shoubousya_front.png', alt:"logo", class:"modal-image" %>
      </div>
    </div>

    <div class ="home-car-big", id="driving_red">
      <div class="modal">
        <div class="close-modal", id="driving_red-modal">
          <i class="fa fa-2x fa-times"></i>
        </div>
        <%= image_tag 'car/driving_red.png', alt:"logo", class:"modal-image" %>
      </div>
    </div>

    <div class ="home-car-big", id="f1_car">
      <div class="modal">
        <div class="close-modal", id="f1_car-modal">
          <i class="fa fa-2x fa-times"></i>
        </div>
        <%= image_tag 'car/f1_car.png', alt:"logo", class:"modal-image" %>
      </div>
    </div>

    <div class ="home-car-big", id="car_van_sougeisya">
      <div class="modal">
        <div class="close-modal", id="car_van_sougeisya-modal">
          <i class="fa fa-2x fa-times"></i>
        </div>
        <%= image_tag 'car/car_van_sougeisya_drive.png', alt:"logo", class:"modal-image" %>
      </div>
    </div>

    <div class ="home-car-big", id="unten_car">
      <div class="modal">
        <div class="close-modal", id="unten_car-modal">
          <i class="fa fa-2x fa-times"></i>
        </div>
        <%= image_tag 'car/unten_car_navigation.png', alt:"logo", class:"modal-image" %>
      </div>
    </div>


    <div class ="home-car-big", id="lover_man">
      <div class="modal">
        <div class="close-modal", id="lover_man-modal">
          <i class="fa fa-2x fa-times"></i>
        </div>
        <%= image_tag 'car/car_lover_man.png', alt:"logo", class:"modal-image" %>
      </div>
    </div>

    <div class ="home-car-big", id="date_couple_woman">
      <div class="modal">
        <div class="close-modal", id="date_couple_woman-modal">
          <i class="fa fa-2x fa-times"></i>
        </div>
        <%= image_tag 'car/drive_date_couple_woman.png', alt:"logo", class:"modal-image" %>
      </div>
    </div>

    <div class ="home-car-big", id="driving_blue">
      <div class="modal">
        <div class="close-modal", id="driving_blue-modal">
          <i class="fa fa-2x fa-times"></i>
        </div>
        <%= image_tag 'car/driving_blue.png', alt:"logo", class:"modal-image" %>
      </div>
    </div>

    <div class ="home-car-big", id="kogata_gosousya">
      <div class="modal">
        <div class="close-modal", id="kogata_gosousya-modal">
          <i class="fa fa-2x fa-times"></i>
        </div>
        <%= image_tag 'car/car_kogata_gosousya.png', alt:"logo", class:"modal-image" %>
      </div>
    </div>

    <div class ="home-car-big", id="idou_car">
      <div class="modal">
        <div class="close-modal", id="idou_car-modal">
          <i class="fa fa-2x fa-times"></i>
        </div>
        <%= image_tag 'car/obentou_idou_car.png', alt:"logo", class:"modal-image" %>
      </div>
    </div>

    <div class ="home-car-big", id="kazoku_driving">
      <div class="modal">
        <div class="close-modal", id="kazoku_driving-modal">
          <i class="fa fa-2x fa-times"></i>
        </div>
        <%= image_tag 'car/kazoku_driving.png', alt:"logo", class:"modal-image" %>
      </div>
    </div>

    <div class ="home-car-big", id="coupe_white">
      <div class="modal">
        <div class="close-modal", id="coupe_white-modal">
          <i class="fa fa-2x fa-times"></i>
        </div>
        <%= image_tag 'car/car_coupe_white.png', alt:"logo", class:"modal-image" %>
      </div>
    </div>

    <div class ="home-car-top">
     <h1><span>車のイラストで楽しく遊ぶページだよ！</span></h1>
     <h2><span>いろんなところをクリックして、ワイワイ　ニコニコ　遊んじゃおう！</span></h2>
     <button><span class="home-car-top-test">テスト</span></button>
     <span class="home-car-top-sucsess">成功</span>    
     <button><span class="home-car-top-test">テスト</span></button>
     <span class="home-car-top-sucsess">成功</span>    
     <button><span class="home-car-top-test">テスト</span></button>
     <span class="home-car-top-sucsess">成功</span>    
     <button><span class="home-car-top-test">テスト</span></button>
     <span class="home-car-top-sucsess">成功</span>    
     <button><span class="home-car-top-test">テスト</span></button>
     <span class="home-car-top-sucsess">成功</span>    
     <button><span class="home-car-top-test">テスト</span></button>
     <span class="home-car-top-sucsess">成功</span>    
     <button><span class="home-car-top-test">テスト</span></button>
     <span class="home-car-top-sucsess">成功</span>    
     <button><span class="home-car-top-test">テスト</span></button>
     <span class="home-car-top-sucsess">成功</span>    
     <button><span class="home-car-top-test">テスト</span></button>
     <span class="home-car-top-sucsess">成功</span>    
     <button><span class="home-car-top-test">テスト</span></button>
     <span class="home-car-top-sucsess">成功</span>    
     <button><span class="home-car-top-test">テスト</span></button>
     <span class="home-car-top-sucsess">成功</span>    
     <button><span class="home-car-top-test">テスト</span></button>
     <span class="home-car-top-sucsess">成功</span>    
     <button><span class="home-car-top-test">テスト</span></button>
     <span class="home-car-top-sucsess">成功</span>    
     <button><span class="home-car-top-test">テスト</span></button>
     <span class="home-car-top-sucsess">成功</span>     
    </div>
    <div class ="home-car-second">
      <ul class ="home-car-second-ul">
        <li><%= image_tag 'car/drive_date_couple_man.png', alt:"logo", class:"car-drive" %></li>
        <li><%= image_tag 'car/car_lover_woman.png', alt:"logo", class:"car_lover" %></li>
        <li><%= image_tag 'car/car_shoubousya_front.png', alt:"logo", class:"car_shoubousya" %></li>
        <li><%= image_tag 'car/driving_red.png', alt:"logo", class:"driving" %></li>
        <li><%= image_tag 'car/f1_car.png', alt:"logo", class:"f1" %></li>
        <li><%= image_tag 'car/car_van_sougeisya_drive.png', alt:"logo", class:"car_van_sougeisya" %></li>
        <li><%= image_tag 'car/unten_car_navigation.png', alt:"logo", class:"unten_car" %></li>
        
      </ul>
    </div>
    
    <div class ="home-car-third">
     <ul class ="home-car-second-ul">
        <li><%= image_tag 'car/car_lover_man.png', alt:"logo", class:"car_lover" %></li>
        <li><%= image_tag 'car/drive_date_couple_woman.png', alt:"logo", class:"drive_date" %></li>
        <li><%= image_tag 'car/driving_blue.png', alt:"logo", class:"driving" %></li>
        <li><%= image_tag 'car/car_kogata_gosousya.png', alt:"logo", class:"car_kogata" %></li>
        <li><%= image_tag 'car/obentou_idou_car.png', alt:"logo", class:"obentou_idou" %></li>
        <li><%= image_tag 'car/kazoku_driving.png', alt:"logo", class:"kazoku" %></li>
        <li><%= image_tag 'car/car_coupe_white.png', alt:"logo", class:"car_coupe" %></li>
        
      </ul>
    </div>
    
    <div class ="home-car-last home-hover">
     <p class="home-car-btn">車はカッコいい！</p>
     <p class="home-car-btn">特殊な車</p>
     <p class="home-car-btn">車は危険</p>
    </div>

    <div class ="home-car-last ">
     <p class="home-car-contents">車はカッコいい！車は昔から今まで<br>　子供から大人まで　ずっと憧れなのだ！<br>どうぞご覧ください！</p>
     <p class="home-car-contents">特殊な車はいっぱいある。それぞれの用途に最適化されて作られている。どうぞご覧ください！</p>
     <p class="home-car-contents">車は危険と隣り合わせ！<br>車の進化とともに、エアバックやバックカメラの義務化などが整備されている。</p>
    </div>

    
    
  </div>
</div>