<% provide(:title, " /car")%>
<div class="wrapper">
  <div class="wrapper_aside">
  </div>
  <div class="wrapper_main home-car">
    <div class ="home-car-top">
     <h1><span>車のイラストで楽しく遊ぶページだよ！</span></h1>
     <h2><span>いろんなところをクリックして、ワイワイ　ニコニコ　遊んじゃおう！</span></h2>
     <button><span class="home-car-top-test">テスト</span></button>
     <span class="home-car-top-sucsess">成功</span>    
     <button><span class="home-car-top-test">テスト</span></button>
     <span class="home-car-top-sucsess">成功</span>    
     <button><span class="home-car-top-test">テスト</span></button>
     <span class="home-car-top-sucsess">成功</span>    
     <button><span class="home-car-top-test">テスト</span></button>
     <span class="home-car-top-sucsess">成功</span>    
     <button><span class="home-car-top-test">テスト</span></button>
     <span class="home-car-top-sucsess">成功</span>    
     <button><span class="home-car-top-test">テスト</span></button>
     <span class="home-car-top-sucsess">成功</span>    
     <button><span class="home-car-top-test">テスト</span></button>
     <span class="home-car-top-sucsess">成功</span>    
     <button><span class="home-car-top-test">テスト</span></button>
     <span class="home-car-top-sucsess">成功</span>    
     <button><span class="home-car-top-test">テスト</span></button>
     <span class="home-car-top-sucsess">成功</span>    
     <button><span class="home-car-top-test">テスト</span></button>
     <span class="home-car-top-sucsess">成功</span>    
     <button><span class="home-car-top-test">テスト</span></button>
     <span class="home-car-top-sucsess">成功</span>    
     <button><span class="home-car-top-test">テスト</span></button>
     <span class="home-car-top-sucsess">成功</span>    
     <button><span class="home-car-top-test">テスト</span></button>
     <span class="home-car-top-sucsess">成功</span>    
     <button><span class="home-car-top-test">テスト</span></button>
     <span class="home-car-top-sucsess">成功</span>     
    </div>
    <div class ="home-car-second">
      <ul class ="home-car-second-ul">
        <li><%= image_tag 'car/drive_date_couple_man.png', alt:"logo", class:"#" %></li>
        <li><%= image_tag 'car/car_lover_woman.png', alt:"logo", class:"#" %></li>
        <li><%= image_tag 'car/car_shoubousya_front.png', alt:"logo", class:"#" %></li>
        <li><%= image_tag 'car/driving_red.png', alt:"logo", class:"#" %></li>
        <li><%= image_tag 'car/f1_car.png', alt:"logo", class:"#" %></li>
        <li><%= image_tag 'car/car_van_sougeisya_drive.png', alt:"logo", class:"#" %></li>
        <li><%= image_tag 'car/unten_car_navigation.png', alt:"logo", class:"#" %></li>
        
      </ul>
    </div>
    
    <div class ="home-car-third">
     <ul class ="home-car-second-ul">
        <li><%= image_tag 'car/car_lover_man.png', alt:"logo", class:"#" %></li>
        <li><%= image_tag 'car/drive_date_couple_woman.png', alt:"logo", class:"#" %></li>
        <li><%= image_tag 'car/driving_blue.png', alt:"logo", class:"#" %></li>
        <li><%= image_tag 'car/car_kogata_gosousya.png', alt:"logo", class:"#" %></li>
        <li><%= image_tag 'car/obentou_idou_car.png', alt:"logo", class:"#" %></li>
        <li><%= image_tag 'car/kazoku_driving.png', alt:"logo", class:"#" %></li>
        <li><%= image_tag 'car/car_coupe_white.png', alt:"logo", class:"#" %></li>
        
      </ul>
    </div>
    
    <div class ="home-car-last">
     <span class="home-car-btn">車のかっこいい写真を見る</span>
     <span class="home-car-btn">特殊な車の写真を見る</span>
     <span class="home-car-btn">車の危険な写真を見る</span>
    </div>
    
  </div>
</div>