<header class ="header">
  <div class="header-left">
    <%= link_to image_tag("NW_055.jpg",alt:"logo", width:"80px", class:"header-left-logo"), root_path %>
    <h2 class="header-left-title"><%= link_to "FRONT APP", alt:"title", data: {"turbolinks" => false}  %></h2>
  </div>
  <div class="header-middle">
    <ul class="header-middle-link">
      <% if logged_in? %>
      <li><%= link_to "チャット" , chat_path, data: {"turbolinks" => false} %></li>
      <li><%= link_to "投稿する" , new_micropost_path, data: {"turbolinks" => false} %></li>
      <% else %>
      <% end %>
    </ul>
  </div>
  <div class="header-middle2">
    <ul class="header-middle2-link">
      <% if logged_in? %>
      <li><%= link_to "car", car_path, data: {"turbolinks" => false} %></li>
      <li><%= link_to "heart", heart_path, data: {"turbolinks" => false}  %></li>
      <li><%= link_to "麦わら", slide_path, data: {"turbolinks" => false}  %></li>
      <% else %>
      <% end %>
    </ul>
  </div>
  <div class="header-right">
   <% if logged_in? %>
    <div class="header-button"><%= link_to "ログアウト", logout_path, method: :delete, data: {"turbolinks" => false} %></div>
    <div class="header-button"><%= link_to "ユーザー 一覧", users_path, data: {"turbolinks" => false} %></div>
  　<% else %>
    <div class="header-button"><%= link_to "ログイン", login_path, data: {"turbolinks" => false} %></div>
    <div class="header-button"><%= link_to "新規登録", signup_path, data: {"turbolinks" => false} %></div>
   <% end %>
  </div>
</header>