<header class ="header">
  <div class="header-left">
    <%= link_to image_tag("NW_055.jpg",alt:"logo", width:"80px", class:"header-left-logo"), root_path %>
    <h2 class="header-left-title"><%= link_to "FRONT APP", alt:"title"  %></h2>
  </div>
  <div class="header-middle">
    <ul class="header-middle-link">
      <% if logged_in? %>
      <li><%= link_to "チャットスペース" , chat_path, data: {"turbolinks" => false}, class:"header-middle-link-em" %></li>
      <li><%= link_to "car", car_path, data: {"turbolinks" => false} %></li>
      <li><%= link_to "heart", heart_path, data: {"turbolinks" => false} %></li>
      <li><%= link_to "スライド", slide_path, data: {"turbolinks" => false} %></li>
      <% else %>
      <% end %>
    </ul>
  </div>
  <div class="header-right">
   <% if logged_in? %>
    <div class="header-button"><%= link_to "ログアウト", logout_path, method: :delete %></div>
  　<% else %>
    <div class="header-button"><%= link_to "ログイン", login_path %></div>
    <div class="header-button"><%= link_to "新規登録", signup_path %></div>
   <% end %>
  </div>
</header>