<header class ="header">
  <div class="header-left">
    <%= link_to image_tag("NW_055.jpg",alt:"logo", width:"80px", class:"header-left-logo"), root_url %>
    <h2 class="header-left-title"><%= link_to "FRONT APP", alt:"title"  %></h2>
  </div>
  <div class="header-middle">
    <ul class="header-middle-link">
      <li><%= link_to "car", homes_car_path %></li>
      <li><%= link_to "chat" , homes_chat_path %></li>
      <li><%= link_to "heart", homes_heart_path %></li>
    </ul>
  </div>
  <div class="header-right">
    <div class="header-button"><%= link_to "ログイン", "#" %></div>
    <div class="header-button"><%= link_to "新規登録", "#" %></div>
  </div>
</header>